* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --rosa-pastel: #F9B7C3;
  --rosa-pastel-oscuro: #e7a4be;
  --rosa-oscuro: #D94A59;
  --rojo-vino: #A6243C;
  --crema-claro: #FFF1EA;
  --marron-claro: #5C3A2E;
  --negro: #0000;
  --blanco: #ffff; 
  --gris: #444;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------Bloque: login y registro-------------- */
.login {
  background-color: var(--rosa-pastel);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6vw;
}
.login__radio {
  display: none;
}

.login__container {
  background-color: var(--rosa-oscuro);
  border-radius: 30px;
  width: 100%;
  max-width: 23vw;
  padding: 60px 70px;
  text-align: center;
}

.login__container--registro {
  height: 35vw;
  width: 50vw;
  padding: 18px 70px;
}

.login__title {
  color: var(--crema-claro);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.login__image {
  width: 5vw;
  height: 5vw;
  border-radius: 50%; 
  margin-bottom: 20px;
}

.login__input-group {
  margin-bottom: 10px;
  position: relative;
}

.login__input,.input__agendar {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  background-color: var(--crema-claro);
  font-size: 1rem;
  outline: none;
  color: var(--marron-claro);
}

.login__input::placeholder {
  color: var(--marron-claro);
  opacity: 0.7;
}

.login__button,.btn__agendar {
  background-color: var(--marron-claro);
  color: var(--crema-claro);
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;
}

.login__button--hover,.btn__agendar--hover:hover {
  background-color: var(--rosa-pastel);
  transform: translateY(-2px);
  color: var(--marron-claro);
}

.login__link {
  display: block;
  margin-top: 15px;
  color: var(--crema-claro);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login__link--hover:hover {
  text-decoration: underline;
  color: var(--crema-claro);
}

/* ------------------ BLOQUE Cliente ------------------ */
.cliente {
  background-color: var(--crema-claro);
  min-height: 100vh;
  padding: 2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Encabezado */
.cliente__encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--rosa-pastel);
  padding: 1.5vw 3vw;
  border-radius: 1vw;
  margin-bottom: 2vw;
}

.cliente__titulo {
  font-size: 2vw;
  color: var(--blanco);
  font-weight: bold;
}


.cliente__boton-salir {
  background-color: var(--marron-claro);
  color: var(--crema-claro);
  border: none;
  padding: 0.8vw 1.5vw;
  font-size: 1vw;
  border-radius: 2vw;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cliente__boton-salir--hover {
  background-color: var(--rosa-pastel);
  color: var(--marron-claro);
}

/* Contenedor general */
.cliente__contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
}

/* Secciones */
.cliente__seccion {
  background-color: var(--blanco);
  border: 2px solid var(--rosa-pastel);
  border-radius: 1vw;
  padding: 2vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.cliente__seccion-titulo {
  font-size: 1.5vw;
  color: var(--rojo-vino);
  margin-bottom: 1vw;
  border-bottom: 1px solid var(--rosa-oscuro);
  padding-bottom: 0.5vw;
}

/* Datos de perfil */
.cliente__dato {
  font-size: 1vw;
  color: var(--marron-claro);
  margin-bottom: 0.5vw;
}

.cliente__main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cliente__cuadro {
  background-color: var(--blanco);
  border: 1px solid var(--rosa-pastel);
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.cuadro__titulo {
  font-size: 1.4rem;
  color: var(--rojo-vino);
  margin-bottom: 20px;
  border-bottom: 2px solid var(--rojo-vino);
  display: inline-block;
  padding-bottom: 4px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulario__label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #4e3e3e;
}

.formulario__input {
  padding: 10px;
  border: 1px solid var(--rosa-pastel);
  border-radius: 10px;
  margin-top: 5px;
}

.formulario__boton {
  background-color: var(--marron-claro);
  color: var(--blanco);
  border: none;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

 /*-------------------- bloque incio --------------------*/

 .title__inicio{
  color: var(--marron-claro);
  text-align: center;
  font-size: 1.1vw;
  padding: 0.2vw;
 }
 .texto__inicio{
  color: var(--rosa-pastel);
  text-align: center;
  font-size: 1.1vw;
  padding: 0.2vw;
 }
 

/* ------------Bloque Agenda Estilistas----------------- */
.estilistas {
  max-width: 800px;
  margin: 0 auto;
  background-color:var(--blanco);
  border-radius: 10px;
  box-shadow: var(--sombra);
  padding: 30px;
}

/* Bloque estilista */
.estilista {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--rosa-pastel);
  border-left: 4px solid var(--rojo-vino);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.estilista--hover:hover {
  background-color: var(--crema-claro);
  transform: translateX(5px);
}

/* Elemento foto */
.estilista__foto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--rosa-pastel);
}

/* Contenedor de informaci칩n */
.estilista__info {
  flex: 1;
}

.estilista__nombre {
  font-weight: bold;
  color: var(--marron-claro);
  font-size: 1.2em;
  margin-bottom: 5px;
}

.estilista__descripcion {
  color: var(--marron-claro);
  margin-bottom: 5px;
}

.estilista__telefono {
  font-family: 'Courier New', monospace;
  background-color:var(--crema-claro);
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
  color: var(--rojo-vino);
}
.estilista--leter{
  border-radius: 0%;
  border-left: none;
  text-align: center;
}

/* ------------------BLOQUE  Administrador-------------------*/
body.admin {
  margin: 0;
  background-color: var(--crema-claro);
  color: var(--texto-oscuro);
  padding: 20px;
}
/* encabezado de Administrador */
.admin__header {
  background-color: var(--rosa-pastel);
  padding: 20px;
  text-align: center;
  border-radius: 12px;
}

.admin__title {
  margin: 0;
  font-size: 2em;
}

.admin__subtitle {
  margin-top: 8px;
  font-weight: 400;
}

.admin__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
  
}

.admin__section {
 justify-content: center;
  /* max-width: 1200px; */
  background-color: var(--blanco);
  border-left: 10px solid var(--marron-claro);
  padding: 20px;
  border-radius: 12px;
}

.admin__section-title {
  margin-top: 0;
  font-size: 1.5em;
  color: var(--marron-claro);
}

.form {
  display: grid;
  gap: 15px;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form__input {
  padding: 8px 12px;
  border: 1px solid var(--marron-claro);
  border-radius: 8px;
  background-color: var(--crema-claro);
}

.form__button {
  padding: 10px;
  background-color: var(--marron-claro);
  color: var(--blanco);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
}

.form__button:hover {
  background-color: #8d5c54; /*agregaaaaaaaaaaaaaaaarcoloooooooooooooooor*/
}
.admin__nav {
  background-color: var(--crema-claro);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.admin__nav-lista {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.admin__nav-enlace {
  text-decoration: none;
  color: var(--marron-claro);
  font-weight: bold;
  background-color: var(--rosa-pastel);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.admin__nav-enlace:hover {
  background-color: var(--rosa-pastel-hover);
}

/* tabla de trabajadores creados */
.admin__tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--crema-claro);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.admin__tabla-cabecera {
  background-color: var(--marron-claro);
  color: var(--blanco);
}

.admin__tabla-fila:nth-child(even) {
  background-color: var(--crema-claro);
}

.admin__tabla-encabezado,
.admin__tabla-celda {
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
}

.admin__tabla-celda {
  color: #333; /*agregaaaaaaaaaaaaaaaaaaaaaarcolor*/
}

.admin__tabla-acciones {
  display: flex;
  gap: 0.10rem;
}
.admin__tabla-cuerpo{
 /* campos de trabajadores creados */
}
.tabla__boton {
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  font-weight: bold;
  margin: 5px;
}

.tabla__boton--editar {
  background-color: var(--rosa-pastel);
  color: var(--marron-oscuro);
}

.tabla__boton--editar:hover {
  background-color: var(--rosa-pastel);
  transform: scale(1.05);
}

.tabla__boton--eliminar {
  background-color: var(--marron-claro);
  color: var(--blanco);
}

.tabla__boton--eliminar:hover {
  background-color: #8b5e55;
  transform: scale(1.05);
}
/* ----- Bloque-trabajadores------- */

    /* citaaaaas */
.citas-container {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.cita-card {
    display: flex;
    align-items: center;
    background-color: var(--rosa-pastel);
    border-radius: 20px; /* M치s cuadrado */
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    margin: 15px;
     width: 400px;      /* ancho fijo */
    height: 300px;
    flex-direction: column;
    text-align: center;
}

.cita-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    margin-bottom: 5px;
}

.cita-info h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.cita-info p {
    margin: 3px 0;
}

.cita-tel {
    display: inline-block;
    background-color: #fce4ec;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 0.85em;
}
.btn-pagar,.btn-cancelar{
   background-color: var(--rosa-oscuro);
  color: var(--blanco);
  border: none;
  padding: 0.2rem 2rem;
  font-size: 14px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  
}
.btn-completar,.btn-eliminar{
   background-color: var(--rosa-oscuro);
  color: var(--blanco);
  border: none;
  padding: 0.2rem 2rem;
  font-size: 14px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  margin: 5px;
  
}
.cita-cardt{
  display: flex;
    align-items: center;
    background-color: var(--crema-claro);
    border-radius: 20px; /* M치s cuadrado */
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    margin: 15px;
     width: 400px;      /* ancho fijo */
    height: 300px;
    flex-direction: column;
    text-align: center;
}


/* bloque de trabajadores */
  header {
      background-color: var(--rosa-pastel);
      color: var(--blanco);
      padding: 1rem;
      text-align: center;
    }

/* Facturas */
#contenedor-reservas {
  max-width: 700px;
  margin: 30px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.factura-item {
  background: var(--blanco);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px 25px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.factura-item:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.factura-item h3 {
  margin-top: 0;
  color: #2c3e50;
}

.factura-item p {
  font-size: 15px;
  margin: 8px 0;
}

.factura-item hr {
  margin-top: 15px;
  border: none;
  border-top: 1px solid #eee;
}

.btn-imprimir {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 12px;
  background-color: var(--rojo-vino);
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.btn-imprimir:hover {
  background-color: #2980b9;
}

.encabezado__trabajador{
  display: flex;
  justify-content: space-between;
}

/* ================== Movimientos Trabajadores ================== */
.admin-citas {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 900px;
  background: var(--blanco);
  border-radius: 15px;
  box-shadow: 0 4px 12px var(--sombra);
}

.admin-citas h2 {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: var(--marron-oscuro);
  text-align: center;
}

/* Inputs y selects */
.admin-citas label {
  display: block;
  margin: 1rem 0 0.3rem;
  font-weight: 600;
  color: var(--marron-oscuro);
}

.admin-citas input,
.admin-citas select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--gris-claro);
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  margin-bottom: 1rem;
  transition: border 0.3s, box-shadow 0.3s;
   background-color: var(--crema-claro);
}

.admin-citas input:focus,
.admin-citas select:focus {
  border: 1px solid var(--rosa-oscuro);
  box-shadow: 0 0 6px var(--rosa-pastel);
 
}

/* Bot칩n */
#btn-ver-citas {
  display: inline-block;
  background: var(--rosa-oscuro);
  color: var(--blanco);
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#btn-ver-citas:hover {
  background: var(--marron-claro);
  transform: scale(1.05);
}

/* ================== TABLA ================== */
.tabla-citas {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--sombra);
}

.tabla-citas thead {
  background: var(--rosa-pastel);
  color: var(--marron-oscuro);
}

.tabla-citas th,
.tabla-citas td {
  padding: 1rem;
  border-bottom: 1px solid var(--gris-claro);
  
}

.tabla-citas tbody tr:hover {
  background: var(--crema-claro);
}





