* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --rosa-pastel: #F9B7C3;
  --rosa-oscuro: #D94A59;
  --rojo-vino: #A6243C;
  --crema-claro: #FFF1EA;
  --marron-claro: #5C3A2E;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------Bloque: login-------------- */
.login {
  background-color: var(--rosa-pastel);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}
.login__radio {
  display: none;
}

.login__container {
  background-color: var(--rosa-oscuro);
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  padding: 60px 70px;
  text-align: center;
}

.login__container--registro {
  height: 601px;
  width: 500px;
  padding: 18px 70px;
}

.login__title {
  color: var(--crema-claro);
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.login__image {
  width: 5vw;
  height: 5vw;
  border-radius: 50%; 
  margin-bottom: 20px;
}

.login__input-group {
  margin-bottom: 10px;
  position: relative;
}

.login__input {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  background-color: var(--crema-claro);
  font-size: 1rem;
  outline: none;
  color: var(--marron-claro);
}

.login__input::placeholder {
  color: var(--marron-claro);
  opacity: 0.7;
}

.login__button {
  background-color: var(--marron-claro);
  color: var(--crema-claro);
  border: none;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
  width: 100%;
  font-weight: bold;
}

.login__button--hover:hover {
  background-color: var(--rosa-pastel);
  transform: translateY(-2px);
  color: var(--marron-claro);
}

.login__link {
  display: block;
  margin-top: 15px;
  color: var(--crema-claro);
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.login__link--hover:hover {
  text-decoration: underline;
  color: var(--crema-claro);
}

.login__form--registro {
  display: none;
  position: absolute;
  width: 100%;
  justify-content: center;
}

.login__radio--registrar:checked ~ .login__form--registro {
  display: flex;
}

.login__radio--registrar:checked ~ .login__form--inicio {
  display: none;
}

.login__radio--iniciar:checked ~ .login__form--inicio {
  display: flex;
  justify-content: center;
}

/* -------------------Bloque: agenda ----------------*/
.agenda {
  display: none; 
}

.agenda__header {
  background-color: var(--crema-claro);
}

.agenda__title {
  color: var(--rojo-vino);
  text-align: center;
  font-size: 1.1vw;
  padding: 0.2vw;
}

.agenda__nav {
  width: 100vw;
  height: 10vw;
  background-color: var(--rosa-oscuro);
  display: flex;
  justify-content: space-around;
}

.agenda__search,
.agenda__user {
  color: var(--rojo-vino);
  font-size: 2vw;
  margin: 2vw;
  cursor: pointer ;
  margin-top: 4vw;
}

.agenda__image {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin: 2vw;
}

.agenda__menu {
  display: flex;
  justify-content: center;
  gap: 2vw;
  background-color: var(--rosa-oscuro);
  
}
.agenda__menu-item,.agenda__menu-item--sele {
  color: var(--rojo-vino);
  text-decoration: none;
  padding: 10px;
  font-size: 1.0vw;
  font-weight: bold;
  margin-bottom: 1vw;
  
}
.agenda__menu-item--sele{
  color: var(--rojo-vino);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  /* border-bottom: 2px solid var(--rojo-vino) */
 }
.agenda__menu-item:hover{
 color: var(--rojo-vino);
 text-decoration: underline;
 text-decoration-thickness: 2px;
}
.veragenda__seccion{
  background-color: var(--crema-claro);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vw;
}
/* .veragenda__content--tabla{
  

} */

.veragenda__tabla{
  background-color: var(--crema-claro);
  width: 50vw;
  height: 10vw;
  border: 1px solid var(--marron-claro);
  margin-top: 5vw;
}
  

/*--------------------- Bloque Productos----------------- */
.nuevos__lanzamientoscontent{
 display: flex;
 flex-wrap: wrap;
 padding: 2vw;
 background-color: var(--crema-claro);
}
.nuevos-lanzamientos {
  width: 18vw;
  height: 22vw;
  margin: 2.5vw;
  margin-top: 2vw;
  background-color:var(--crema-claro);
  border-bottom: 5px solid var(--marron-claro); /* Borde inferior grueso */
  border-top: 1px solid var(--marron-claro);    /* Borde superior fino */
  border-left: 5px solid var(--marron-claro);   /* Borde izquierdo fino */
  border-right: 1px solid var(--marron-claro);  /* Borde derecho fino */
  padding: 1.5vw;
  border-radius: 3vw;
}

.nuevos-lanzamientos__producto {
  margin-top: -2vw;
}
.nuevos-lanzamientos__fotocon{
  width: 9vw;
  height: 9vw;
  margin-bottom: 7vw;
  margin-top: -1.5vw;
}
.nuevos-lanzamientos__foto{
  width: 16vw;
  height: 14vw;
}
.nuevos-lanzamientos__separador {
  border-top: 1px solid var(--crema-claro);
  margin: 20px 0;
}
.nuevos-lanzamientos__titulo-tarjeta {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 0.1vw;
  margin-top: -2vw;
}

.nuevos-lanzamientos__precio {
  font-size:1.3vw;
  color: var(--marron-claro);
}

.nuevos-lanzamientos__boton {
  /* display: block; */
  width: 2.4vw;
  height: 2.5vw;
  background-color:var(--rosa-oscuro);
  color: var(--crema-claro);
  border: none;
  border-radius: 0.6vw;
  cursor: pointer;
  font-size: 1.5vw;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 12vw;
}
.nuevos-lanzamientos__contentbo{
  margin-top: -1vw ;
}

.nuevos-lanzamientos__boton:hover {
  background-color: var(--rosa-pastel);
}

/* ---------ejemplo caelndar */

/* Bloque principal */
.calendario {
  font-family: 'Arial', sans-serif;
  /* max-width: 800px; */
  margin: 0 auto;
  width: 101vw;
  /* padding: 20px; */
  /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
}

/* Elementos del bloque calendario */
.agenda__title--mes {
  color: var(--rojo-vino);
  text-align: center;
  font-size: 1.1vw;
  padding: 0.2vw;
}

.calendario__cabecera {
  text-align: center;
  margin-bottom: 20px;
}

.calendario__titulo {
  font-size: 24px;
  color: var(--marron-claro);
}

.calendario__contenedor {
  display: grid;
  grid-template-columns: repeat(7, 10vw);
  gap: 8px;
  justify-content: center;
}

.calendario__dia-semana {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: var(--crema-claro);
  color: var(--marron-claro);
}

.calendario__dia {
  min-height: 100px;
  border: 1px solid var(--marron-claro);
  padding: 8px;
  position: relative;
  background-color: var(--rosa-pastel);
}

/* Modificadores */
.calendario__dia--vacio {
  background-color: var(--crema-claro);
  border: none;
}

.calendario__dia--con-cita {
  background-color: var(--rosa-oscuro);
}

/* Elementos dentro de los días */
.calendario__numero-dia {
  font-weight: bold;
  color: var(--crema-claro);
}

.calendario__cita {
  font-size: 12px;
  margin-top: 5px;
  padding: 4px;
  background-color: var(--rojo-vino);
  border-radius: 3px;
  color: var(--crema-claro);
}